 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, black);
}

.u-section-1 .u-custom-html-1 {
  min-height: 845px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 625px;
    margin-top: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 525px;
    margin-bottom: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 425px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 325px;
    margin-bottom: -120px;
  }
}