 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/stavloi.jpeg?rand=0c5e");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-group-1 {
  width: 930px;
  min-height: 362px;
  margin: 535px auto 45px 27px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-1 .u-text-1 {
  margin: 149px 35px 0 5px;
}

.u-section-1 .u-shape-1 {
  width: 449px;
  height: 130px;
  margin: -81px auto 0 -30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    margin-bottom: -27px;
    margin-left: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-shape-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 32.56% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 310px;
    margin-bottom: -327px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 245px;
    margin-bottom: -342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 14px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 27.11% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-shape-1 {
    width: 330px;
    margin-top: -83px;
    margin-left: -25px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -75px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -30px;
  }
} .u-section-3 {
  background-image: linear-gradient(#1a1a1a, black);
  min-height: 945px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 845px;
  height: auto;
  margin-top: 85px;
  margin-bottom: 0;
  width: 100%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 710px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 625px;
    margin-top: 65px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 600px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 525px;
    margin-bottom: -20px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 500px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 425px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 380px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 325px;
    margin-bottom: -120px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 750px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-4 .u-image-1 {
  min-height: 315px;
  background-image: url("images/IMG_20200817_1431551.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-image-2 {
  min-height: 315px;
  background-image: url("images/IMG_20200820_1356131.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -490px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -820px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 682px;
}

.u-section-5 .u-image-1 {
  width: 452px;
  height: 603px;
  margin: 70px auto 0 41px;
}

.u-section-5 .u-shape-1 {
  width: 368px;
  height: 504px;
  margin: -524px 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 516px;
  min-height: 543px;
  height: auto;
  margin: -525px 41px 11px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 160px 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 41px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-image-1 {
    position: relative;
    width: 447px;
    height: 629px;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    height: 609px;
    position: relative;
    margin-top: -609px;
  }

  .u-section-5 .u-group-1 {
    width: 425px;
    min-height: 629px;
    position: relative;
    margin-top: -629px;
    margin-right: 34px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 64px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-5 .u-image-1 {
    width: 421px;
    height: 521px;
  }

  .u-section-5 .u-shape-1 {
    width: 403px;
    height: 624px;
  }

  .u-section-5 .u-group-1 {
    width: 483px;
    min-height: 628px;
    margin-right: 72px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 72px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 40px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-5 .u-image-1 {
    width: 415px;
    height: 518px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 414px;
  }

  .u-section-5 .u-group-1 {
    width: 418px;
    min-height: 410px;
    margin-right: 19px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 8px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 35px;
    margin-right: 8px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-5 .u-image-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 281px;
    margin-top: -458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    width: 308px;
    min-height: 507px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 54px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 138px;
    margin-right: 6px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 640px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 547px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 64px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 547px;
  background-image: url("images/IMG_20201114_1131461.jpg");
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-6 .u-image-1 {
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 345px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 518px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-6 .u-image-1 {
    min-height: 326px;
  }
}